@charset "UTF-8";

table {
  border: 2px solid #000000;
  border-collapse: collapse;
}

th {
  border: 2px ridge #000000;
  border-bottom: 2px double #000000;
  padding:0.5em 0.5em;
  font-size: 1.2em;
  background: #d6e9ca;
}

td {
  border: 2px solid #000000;
  padding:0.5em 0.5em;
}

table tr:nth-child(odd) {
  background: #d6e9ca;
}
